// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icons-arr-delivery-btn-info-name: 'icons-arr_delivery_btn_info';
$icons-arr-delivery-btn-info-x: 0px;
$icons-arr-delivery-btn-info-y: 81px;
$icons-arr-delivery-btn-info-offset-x: 0px;
$icons-arr-delivery-btn-info-offset-y: -81px;
$icons-arr-delivery-btn-info-width: 8px;
$icons-arr-delivery-btn-info-height: 14px;
$icons-arr-delivery-btn-info-total-width: 101px;
$icons-arr-delivery-btn-info-total-height: 95px;
$icons-arr-delivery-btn-info-image: '../images/sprite/icons.png';
$icons-arr-delivery-btn-info: (0px, 81px, 0px, -81px, 8px, 14px, 101px, 95px, '../images/sprite/icons.png', 'icons-arr_delivery_btn_info', );
$icons-btn-close-name: 'icons-btn_close';
$icons-btn-close-x: 43px;
$icons-btn-close-y: 0px;
$icons-btn-close-offset-x: -43px;
$icons-btn-close-offset-y: 0px;
$icons-btn-close-width: 29px;
$icons-btn-close-height: 29px;
$icons-btn-close-total-width: 101px;
$icons-btn-close-total-height: 95px;
$icons-btn-close-image: '../images/sprite/icons.png';
$icons-btn-close: (43px, 0px, -43px, 0px, 29px, 29px, 101px, 95px, '../images/sprite/icons.png', 'icons-btn_close', );
$icons-btn-more-view-name: 'icons-btn_more_view';
$icons-btn-more-view-x: 0px;
$icons-btn-more-view-y: 0px;
$icons-btn-more-view-offset-x: 0px;
$icons-btn-more-view-offset-y: 0px;
$icons-btn-more-view-width: 33px;
$icons-btn-more-view-height: 33px;
$icons-btn-more-view-total-width: 101px;
$icons-btn-more-view-total-height: 95px;
$icons-btn-more-view-image: '../images/sprite/icons.png';
$icons-btn-more-view: (0px, 0px, 0px, 0px, 33px, 33px, 101px, 95px, '../images/sprite/icons.png', 'icons-btn_more_view', );
$icons-btn-slide-next-name: 'icons-btn_slide_next';
$icons-btn-slide-next-x: 82px;
$icons-btn-slide-next-y: 0px;
$icons-btn-slide-next-offset-x: -82px;
$icons-btn-slide-next-offset-y: 0px;
$icons-btn-slide-next-width: 19px;
$icons-btn-slide-next-height: 28px;
$icons-btn-slide-next-total-width: 101px;
$icons-btn-slide-next-total-height: 95px;
$icons-btn-slide-next-image: '../images/sprite/icons.png';
$icons-btn-slide-next: (82px, 0px, -82px, 0px, 19px, 28px, 101px, 95px, '../images/sprite/icons.png', 'icons-btn_slide_next', );
$icons-btn-slide-prev-name: 'icons-btn_slide_prev';
$icons-btn-slide-prev-x: 82px;
$icons-btn-slide-prev-y: 38px;
$icons-btn-slide-prev-offset-x: -82px;
$icons-btn-slide-prev-offset-y: -38px;
$icons-btn-slide-prev-width: 19px;
$icons-btn-slide-prev-height: 28px;
$icons-btn-slide-prev-total-width: 101px;
$icons-btn-slide-prev-total-height: 95px;
$icons-btn-slide-prev-image: '../images/sprite/icons.png';
$icons-btn-slide-prev: (82px, 38px, -82px, -38px, 19px, 28px, 101px, 95px, '../images/sprite/icons.png', 'icons-btn_slide_prev', );
$icons-ic-fb-name: 'icons-ic_fb';
$icons-ic-fb-x: 0px;
$icons-ic-fb-y: 43px;
$icons-ic-fb-offset-x: 0px;
$icons-ic-fb-offset-y: -43px;
$icons-ic-fb-width: 28px;
$icons-ic-fb-height: 28px;
$icons-ic-fb-total-width: 101px;
$icons-ic-fb-total-height: 95px;
$icons-ic-fb-image: '../images/sprite/icons.png';
$icons-ic-fb: (0px, 43px, 0px, -43px, 28px, 28px, 101px, 95px, '../images/sprite/icons.png', 'icons-ic_fb', );
$icons-ic-nb-name: 'icons-ic_nb';
$icons-ic-nb-x: 38px;
$icons-ic-nb-y: 43px;
$icons-ic-nb-offset-x: -38px;
$icons-ic-nb-offset-y: -43px;
$icons-ic-nb-width: 28px;
$icons-ic-nb-height: 28px;
$icons-ic-nb-total-width: 101px;
$icons-ic-nb-total-height: 95px;
$icons-ic-nb-image: '../images/sprite/icons.png';
$icons-ic-nb: (38px, 43px, -38px, -43px, 28px, 28px, 101px, 95px, '../images/sprite/icons.png', 'icons-ic_nb', );
$icons-width: 101px;
$icons-height: 95px;
$icons-image: '../images/sprite/icons.png';
$icons-sprites: ($icons-arr-delivery-btn-info, $icons-btn-close, $icons-btn-more-view, $icons-btn-slide-next, $icons-btn-slide-prev, $icons-ic-fb, $icons-ic-nb, );
$icons: (101px, 95px, '../images/sprite/icons.png', $icons-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
