@charset "UTF-8";

@include retina-sprites($retina-groups);

.header{
	padding:$layout-header-height;
	border: 10px solid #333;
	background-color:#eee;
	h1{
		@include sprite( $icon-btn_mob_menu );
		margin-left: 10px;
	}
	.ico{
		display: inline-block;
		@include sprite( $default-btn_slide_next );
	}
}

@include mob{
	.header{
		h1{
			@include retina-sprite( $icon-btn-mob-menu-group );
		}
		.ico{
			display: inline-block;
			@include retina-sprite( $icon-arr-btn-right-01-group );
		}
	}
}