@charset "UTF-8";

*{
	margin:0; padding:0;
}

.box{
	h1{
		font:{
			size : 15px;
			weight : bold;
			color:red;
		}
	}
}

.wrap{
	padding:100px;
	$color : #333;
	border:2px solid blue;
	.tit{
		padding-bottom:10px;
		padding-left:10px;
		margin-bottom:10px;
		background-color:$color;
		color:#fff;
		font-size:20px;
	}
	.txt{
		font-size:14px;
		line-height:1.5em;
	}
	@at-root .hide &{
		display: none;
	}
}